* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: digital;
	src: url(./font/digital-7.ttf);
}

:root {
	--yellow: #fcb31b;
	--black: #212121;
	--grey: #616161;
	--mediumGrey: #534b4b;
	--white: #fff;
	--darkGrey: #3b3b3b;
	--alien: #60a07f;
}

body {
	background-color: var(--yellow);
	font-family: "Roboto", sans-serif;
}

.container {
	width: 100dvw;
	height: 100dvh;
	display: grid;
	place-items: center;
	/* margin: 0 0.5em; */
	overflow-x: hidden;
}

.calculator {
	width: 22em;
	min-height: 35em;
	border-radius: 1em;
	background-color: var(--black);
}

.display {
	width: auto;
	min-height: 6em;
	background-color: var(--darkGrey);
	margin: 1em;
	border-radius: 1em;
	box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
}

.displayText {
	padding: 1em;
	text-align: right;
	font-family: digital;
	font-size: 1.5rem;
	color: var(--alien);
}

.displayResult {
	color: var(--white);
	font-size: 1.8rem;
}

.buttons {
	display: grid;
	grid-template-areas:
		"clear clear delete delete"
		"seven eight nine divide"
		"four five six multiply"
		"one two three subtract"
		"decimal zero equal add";
	gap: 0.5em;
	padding: 1em;
	/* padding-top: 0; */
	text-align: center;
	font-size: 1.3rem;
	color: var(--white);
}

.button {
	background-color: var(--grey);
	padding: 1em 1em;
	border-radius: 0.5em;
	cursor: pointer;
}

.button:hover {
	background-color: var(--mediumGrey);
}

.clear {
	grid-area: clear;
	background-color: #ea4949;
}
.clear:hover {
	background-color: #ca4141;
}

.delete {
	grid-area: delete;
	background-color: #2a9f92;
}
.delete:hover {
	background-color: #18baa7;
}

.zero {
	grid-area: zero;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.decimal {
	grid-area: decimal;
}
.multiply {
	grid-area: multiply;
}
.divide {
	grid-area: divide;
}
.add {
	grid-area: add;
}
.subtract {
	grid-area: subtract;
}

.equal {
	grid-area: equal;
	background-color: #5217c0;
}

.equal:hover {
	background-color: #652ccf;
}
